stanzas:
  - from: /home/user/Documents
  - type: zfs-dataset
    from: tank/data/dataset
  - type: zfs-zvol
    from: tank/data/zvol
restic:
  password: super-secure
sftp:
  host: sftp.myhost.com
  port: 22
  user: user
  identityPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
cron:
  cleanup:
    enabled: true
    keep:
      daily: 7
      weekly: 4
      monthly: 12
bandwidth:
  upload: 1024
